@import "compass";
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 13px;
}
body {
	@include flexbox(( display: flex, flex-direction: column));
	margin: 0;
	padding: 0;
	width: 100%;
}
.container {
	width: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0;
	margin: 0;
}
.container_1 {
	@extend .container;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	float: right;
	text-transform: uppercase;
}
.header {
	margin: 0;
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	height:200px;
}
.safari-fix {
	height: 200px
}

.logo-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
	align-items: center;
	height: 100px;
	img {
		min-width: 13.5vw;
		min-height: 13.5vw;
		width: 30%;
		height: auto;
		display: block;
	}
}
.white-menu {
	flex-grow: 1;
	height: 100px;
	position: relative;
}
.test {
	width: 100%;
	margin: 0;
	padding: 0;
}
.fb {
	float: right;
	width: 100px;
	a {
		margin-left: 5%;
		padding: 0;
		text-decoration: none;
		font-size: 1rem;
		text-transform: uppercase;
	}
	a:nth-child(2) {
		color: #bb5c63;
		margin-left: 9%;
	}
	a:first-child {
		padding: 0;
		margin-left: 5%;
	}
	a:last-child {
		color: #888686;
	}
	a:last-child::before {
		content: "|";
		color: #dedede;
		font-weight: bold;
		margin-right: 5%;
	}
}
.searchbar {
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 20px!important;
	width: 145px!important;
	border: 1px solid #dedede;
	input {
		border: none;
		margin: 0;
		width: 80%;
		font-size: 1rem;
		flex-grow: 1;
	}
	input::-webkit-input-placeholder {
		text-transform: uppercase;
		font-weight: 300;
		color: #a0a0a0;
		text-align: left;
		font-size: 1rem;
	}
	input::-moz-placeholder {
		text-transform: uppercase;
		font-weight: 300;
		color: #a0a0a0;
		text-align: left;
		font-size: 1rem;
	}
	input:-ms-input-placeholder {
		text-transform: uppercase;
		font-weight: 300;
		color: #a0a0a0;
		text-align: left;
	}
	input::placeholder {
		text-transform: uppercase;
		font-weight: 300;
		color: #a0a0a0;
		text-align: left;
		font-size: 1rem;
	}
	a {
		margin: 0;
		padding: 0;
		width: 20%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-decoration: none;
		height: 100%;
		flex-grow: 1;
	}
	img {
		width: 100%;
		height: 100%;
	}
	.search {
		margin: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}
.apiemus {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	text-align: center;
	a {
		color: black;
		float: left;
		margin: 0;
		padding: 5px 15px 5px 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1rem;
		border: 1px solid white;
	}
	.apie:hover {
		color: #a4252f;
		border: 1px solid #dedede;
		-webkit-transition: 0.2s ease-out;
		-o-transition: 0.2s ease-out;
		transition: 0.2s ease-out;
		box-sizing: border-box;
	}
	a:hover {
		color: #a4252f;
		border: 1px solid #dedede;
		-webkit-transition: 0.2s ease-out;
		-o-transition: 0.2s ease-out;
		transition: 0.2s ease-out;
		box-sizing: border-box;
	}
	li {
		position: relative;
		display: inline-block;
	}
	li:hover .dropdown-content {
		display: block;
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	height: 30vh;
	width: 40vw;
	top: 30px;
	opacity: 0.7;
	border: 1px solid #e7e7e7;
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 8px;
	z-index: 1;
	text-align: center;
	a {
		color: black;
		border: none;
		text-align: left;
		-webkit-transition: 0.2s ease-out;
		-o-transition: 0.2s ease-out;
		transition: 0.2s ease-out;
		text-transform: none;
	}
	a:hover {
		color: #a4252f;
		opacity: 1;
		border: none;
	}
	li {
		display: inline-block;
		margin-left: 5px;
		margin-top: 2%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		float: left;
	}
}
@media only screen and (max-width:320px) {	
	.dropdown-content {
		height: 50vh !important;
		width: 40vw !important;
	}
}
.color-list {
	margin: 0;
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		height: 100%;
	}
	li {
		float: left;
		width: 25%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin: 0;
		text-align: center;
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	li:nth-child(1) {
		background-color: #f73f4e;
	}
	li:nth-child(2) {
		background-color: #fe772d;
	}
	li:nth-child(3) {
		background-color: #f6d01d;
	}
	li:nth-child(4) {
		background-color: #2de850;
	}
	a {
		color: white;
		text-decoration: none;
		font-size: 1.25rem;
		text-align: center;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
.container_2 {
	@extend .container;
	height: 250px;
	max-height: 500px;
	position: relative;
	#paveikslas1 {
		height: 100%;
		max-height: 500px;
		width: 100%;
		position: relative;
		z-index: -1;
	}
	h1 {
		color: white;
		position: absolute;
		top: 38%;
		left: 18%;
		font-size: 2rem;
		line-height: 2.188;
		text-align: left;
		font-style: italic;
	}
	button {
		position: absolute;
		background-color: #8f8f8f;
		font-size: 1.25rem;
		font-weight: bold;
		color: white;
		top: 40%;
		left: 0%;
		opacity: 0.8;
		width: 45px;
		height: 6vh;
		border: none;
		text-align: center;
		line-height: 6vh;
	}
	button:last-child {
		left: 96.45%;
	}
}
.container_3 {
	@extend .container;
	height: auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	* {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		width: 100% !important;
	}
}
.images5 {
	height: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	div {
		margin: 0;
		width: auto;
		text-align: center;
		img {
			padding: 2.7vw;
			padding-left: 0;
			padding-right: 0;
			max-height: 250px;
			max-width: 250px;
		}
	}
}
.info {
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	div:first-child {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 25%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #e7e7e7;
		color: #525252;
	}
	span {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		border-bottom: 1px solid black;
		text-align: left;
		margin-left: 20px;
		margin-top: 10px;
		padding-top: 5px;
		font-size: 1.125rem;
		width: 70% !important;
		height: 30px;
		padding-bottom: 3px;
	}
	ul {
		height: 140px;
		list-style: none;
		text-align: left;
		padding-left: 20px;
		a {
			color: #525252;
			text-decoration: none;
			font-size: 0.875rem;
			text-align: center;
		}
		li {
			margin-bottom: 2%;
			font-size: 0.875rem;
		}
	}
	div:nth-child(2) {
		@extend div:first-child;
		background-color: #f7f7f7;
	}
	div:nth-child(3) {
		@extend div:first-child;
		background-color: #e7e7e7;
		li:nth-child(1) {
			font-weight: bold;
		}
	}
	div:nth-child(4) {
		@extend div:first-child;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 25%;
		a {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.footer {
	background-color: #4d4d4d;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 50px;
	color: white;
	font-size: 1rem;
	text-align: center;
	line-height: 50px;
}
@media only screen and (min-width:768px) {
	.safari-fix {
		height: 150px !important;
	}
	.test {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 90px;
		padding-left: 20%;
		margin-bottom: 25px;
	}
	.dropdown-content {
		height: 35vh !important;
		width: 20vw !important;
		;
	}
	.header {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		height: 200px;
	}
	.logo-container {
		width: 50%!important;
		align-items: center;
		height: auto;
	}
	.white-menu {
		width: 50%!important;
		text-align: center;
	}
	.apiemus {
		float: none;
	}
	.searchbar {
		padding: 0!important;
		margin: 0!important;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		align-content: center;
		float: right;
	}
	.fb {
		width: auto;
		float: right;
		a {
			margin-left: 12px;
		}
		a:nth-child(2) {
			margin-left: 20px;
		}
		a:first-child {
			margin-left: 12px;
		}
		a:last-child {
			margin-right: 12px;
		}
		a:last-child::before {
			margin-right: 12px;
		}
	}
	.container_3 {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		* {
			flex-flow: row;
		}
	}
	.info {
		height: 200px;
		span {
			margin-left: 20px;
			margin-top: 10px;
			padding-top: 0px;
			font-size: 13px;
			width: 70% !important;
		}
	}
	.images5 {
		div {
			width: auto;
			text-align: center;
		}
		img {
			min-width: 150px;
			max-height: none;
			max-width: none;
			padding-left: 10% !important;
			padding-right: 10% !important;
		}
	}
	.container_2 {
		height: 250px;
	}
}
@media only screen and (min-width:1098px) {
	html {
		font-size: 16px;
	}
	.test {
		width: 100%;
		margin: 0;
		padding: 0;
		height: 50%;
		flex-grow: 1;
		padding-top: 70px;
		padding-right: 3%;
	}
	.header {
		height: 150px;
		width: 1060px;
		margin: auto;
	}
	.dropdown-content {
		width: 17vw!important;
		height: 20vw!important;
	}
	.logo-container {
		float: left;
		height: auto;
		img {
			min-width: 100px!important;
			min-height: 100px!important;
		}
	}
	.white-menu {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		float: right;
	}
	.searchbar {
		height: 20px!important;
		width: 145px!important;
		float: right;
		a {
			height: 100%;
		}
	}
	.fb {
		width: auto;
		float: right;
		a {
			margin-left: 12px;
		}
		a:nth-child(2) {
			margin-left: 20px;
		}
		a:first-child {
			margin-left: 12px;
		}
		a:last-child {
			margin-right: 12px;
		}
		a:last-child::before {
			margin-right: 12px;
		}
	}
	.apiemus {
		height: 50%;
		flex-grow: 1;
		padding-top: 30px;
		li {
			display: inline-block;
		}
		a {
			font-size: 15px;
		}
	}
	.container_3 {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.info {
		-ms-flex-wrap: wrap;
		height: 300px;
		span {
			font-size: 1.125rem;
			margin-left: 20px;
			margin-top: 10px;
			padding-top: 5px;
			width: 70%!important;
			height: 10%!important;
		}
		ul {
			height: 80% !important;
		}
	}
	.images5 {
		div {
			width: 20%!important;
		}
		img {
			max-height: none !important;
			max-width: none !important;
		}
	}
	.container_2 {
		height: 500px;
	}
}